

<div class="wraper">
    <form  method="POST" action="/Add">
        <label for="Phone">Phone</label><br>
        <input type="text" name="Phone" ><br>
        <label for="Password">Password</label><br>
        <input type="text" name="Password" ><br>
        <label for="TypeTegister">TypeTegister</label><br>
        <input type="text" name="TypeTegister" ><br>
        <label for="TokenLogin">TokenLogin</label><br>
        <input type="text" name="TokenLogin" ><br>
        <label for="DeviceID">DeviceID</label><br>
        <input type="text" name="DeviceID" ><br>
        <label for="FcmTokens">FcmTokens</label><br>
        <input type="text" name="FcmTokens" ><br>
        <input type="submit" value="them">
        </form>
</div>
